@using Guilder.Shared;

<div class="card">
    @if (Meeting != null)
    {
        <h3>@Meeting.Name</h3>
        <p>@Meeting.Description</p>
    }
    else
    {
        <h3>No Current Meeting Selected</h3>
    }

</div>

@code {
    [Parameter]
    public Meeting? Meeting { get; set; }
}
