@using Guilder.Client.Services;
@using Guilder.Shared;
@inject TimelineStore TimelineStore

<div class="container">
    <div class="position-relative">
        <div class="row timeline-wrapper">
            <div class="scroller" style="min-width:@(100 * TimelineStore.SlotsToDisplay.Count)px">
                @foreach (var slot in TimelineStore.SlotsToDisplay)
                {
                    <button class="slot-wrapper" style="background-color:@(slot.PartOfMeeting is null ? "green" : "red")"></button>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public IEnumerable<Meeting> Meetings
    {
        get => TimelineStore.Meetings;
        set => TimelineStore.SetMeetings(value);
    }
}
