@using Guilder.Client.Services;
@using Guilder.Shared;
@inject TimelineStore TimelineStore

<div class="container">
    <div class="position-relative">
        <div class="row timeline-wrapper">
            <div class="scroller" style="min-width:@(100 * TimelineStore.SlotsToDisplay.Count)px">
                @foreach (var slot in TimelineStore.SlotsToDisplay)
                {
                    <button class="slot-wrapper @(slot.PartOfMeeting is null ? "free" : "busy")" @onclick="(async () => {
                        TimelineStore.CurrentMeeting = slot.PartOfMeeting;
                        await EventCallbackParam.InvokeAsync();
                        })">@(slot.StartInclusive.TimeOfDay) </button>

                }
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public IEnumerable<Meeting> Meetings
    {
        get => TimelineStore.Meetings;
        set => TimelineStore.SetMeetings(value);
    }

    [Parameter]
    public EventCallback EventCallbackParam { get;set; }
}
