.slot-wrapper {
    height: 100%;
    transform: translate3d(0, 0, 0);
    width: 100px;
    transition: width 0.5s ease;
    display: block;
}

.free {
    background-color: green
}

.busy {
    background-color: red;
    border-left: 0px;
    border-right: 0px;
}

.scroller {
    height: inherit;
    overflow-x: visible;
    display: flex;
}

.timeline-wrapper {
    height: 10vh;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    /* width: 0px; */
    background: transparent;
}

.float-bottom {
    bottom: 25%;
    /* position: absolute; */
}
